
/* Generic styles */

.no-borders{
	border: none;
  background: none;
}

.no-borders:focus{
	outline: none;
	background: #fff;
}

.icon-close{
  font-family: monospace;
  color: #ff0000;
  text-decoration: none;
  font-size: 22px;
  line-height: 16px;
  position: absolute;
  right: 8px;
  top: 7px;
}

body{
  font-size: 14px;
  font-family: "helvetica";
  background: url('/source/images/bg1.jpg');
}

.app{
  width: 300px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-top: 100px;
}

.disabled input[type=text]{
  color: #aaa;
}

a{
  text-decoration: none;
  color: yellowgreen;
}
