
header{
  background: #666;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1{
  margin: 0;
}