
/* Generic styles */

.no-borders{
	border: none;
  background: none;
}

.no-borders:focus{
	outline: none;
	background: #fff;
}

.icon-close{
	font-family: monospace;
  color: #ff0000;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.flex{
	display: flex;
}

/** app styles */

body{
  font-size: 14px;
  font-family: "helvetica";
  background: url('/images/bg1.jpg');
}

.app{
  width: 225px;
  margin-top: 100px;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 100px;
}

nav a{
  text-decoration: none;
  color: #fff;
  margin-right: 15px;
}

nav a.active{
	color: greenyellow;
}

h1{
	margin: 0 0 20px 0;
}

header{
  background: #666;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

/** Task Line Item */
.task-line-item{
  background: #fff;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.task-line-item input[type=text]{
	margin-left: 10px;
	text-transform: capitalize;
}

.task-line-item input[type=checkbox]{
	margin: 3px 0 0 0;
}

.create-task{
	margin-bottom: 20px;
	display: flex;
}

.create-task input{
	font-size: 18px;
	max-width: 82%;
	box-sizing: border-box;
	border: none;
}

.create-task button{
  border: none;
  background: skyblue;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 5px 10px;
}

.striked input[type=text]{
	color: #aaa;
}

nav a{
	text-transform: capitalize;
}